body { 
    margin: 20px;
    color: white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

ul {
    justify-content: space-between;
    list-style-type: disc;
    align-items: center;
    padding: 16px;
    margin-top: 0;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid white;
    object-fit: cover;
}

h1 {
    color: plum;
}

h3 {
    font-size: 18px;
}

h4 {
    margin-bottom: 4px;
}


.titulo {
    font-size: 28px;
    margin: 0;
}

.subtitulo {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0 0 0;
}

.ajustes-foto {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.ajustes-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer {
    margin-top: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
}

footer img {
    width: 40px;
    height: 40px;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.footer-projeto {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin-top: 10px;
    gap: 5px;
 }

.footer-projeto a {
    text-decoration: none;
    color: inherit;
    text-align:left;
}
  
.footer-projeto p {
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0;
    align-items: center;
}

nav a:hover {
    color: white;
}

nav {
    background-color: plum;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin: 0 15px;
}

.bloco-projeto {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.fotos-projeto{
    width: 150px;
    height: 150px;
    border: 0px;
}

  
.redes-icon {
    width: auto; 
    height: 30px;
    border: none;
    justify-content:flex-start;
}

.img-projetos {
    border-radius: 0;
    object-fit: cover;

}


.descricao {
    color: white;
    margin-top: 5px;
    font-size: 14px;
    max-width: 600px;
    line-height: 1.6;
}

.contato-modelo {
    max-width: 600px;
    margin: 0 auto;
}

.contato-modelo h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
  
.contato-modelo p {
    margin-bottom: 20px;
    color: white;
}

.info-contato{
    margin-top: 30px;
    font-size: 0.95em;
    color: #444;
  }
  
.info-contato a {
    color: plum;
    text-decoration: none;
}
  
.info-contato a:hover {
    text-decoration: underline;
}
